<fieldset>
	<legend>{{textButton}}</legend>
		<table class="table">
			<tr>
				<td>Id:</td>
				<td><input type="text" placeholder="Nombre" data-ng-model="usuario.id" required=""></td>
			</tr>
			<tr>
				<td>Nombre:</td>
				<td><input type="text" placeholder="Edad" data-ng-model="usuario.employee_name" required=""></td>
			</tr>
			<tr>
				<td>Salario</td>
				<td><input type="text" placeholder="Profesion" data-ng-model="usuario.employee_salary" required=""></td>
			</tr>
			<tr>
				<td>Edad</td>
				<td><input type="text" placeholder="Profesion" data-ng-model="usuario.employee_age" required=""></td>
			</tr>
			<tr>
				<td>Imagen</td>
				<td><input type="text" placeholder="Profesion" data-ng-model="usuario.profile_image" required=""></td>
			</tr>
			<tr>
				<td><a href="#/" class="btn btn-primary">Volver al inicio</a></td>
				<td><button type="submit" class="btn btn-default">{{ textButton }}</button></td>				
			</tr>
		</table>
	     
</fieldset>