
<div class="" data-ng-show="usuarios.length == 0">
	<h3 class=>No hay usuarios para mostrar</h2>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Buscador</h3>
	</div>
	<div class="panel-body">
		<input type="text" ng-model="buscador"  data-ng-show="usuarios.length > 0" />	
	</div>		
</div>
<hr>
	<div class="container">
		<div class="row">
			<div class="col-xs-2 col-md-3" data-ng-repeat="(id,usuario) in usuarios | filter: buscador">
			<a href="#/info/{{id}}">
				<ul>
					<li>Id:{{usuario.Id}}</li>
					<li>Nombre:{{usuario.employee_name}}</li>
					<li>Salario:{{usuario.employee_salary}}</li>
					<li>Edad:{{usuario.employee_age}}</li>
					<li>Imagen Perfil:{{usuario.profile_image}}</li>
				</ul>	        	      
	        </a>
	        <a href="#/edit/{{id}}" class="btn btn-warning">Editar</a>	       	
	        <a href="#/remove/{{id}}" class="btn btn-danger">Eliminar</a>	        
	        <hr>
	</div>
		</div>		
	</div>
	