<h1 class="">Información del usuario {{ usuario.nombre }}</h1>
<div class="">
  	<p><strong>Nombre:</strong> {{ usuario.nombre }}</p>
  	<p><strong>Apellido:</strong> {{ usuario.apellido }}</p>
  	<p><strong>Cedula:</strong> {{ usuario.cedula }}</p>
  	<p><strong>Edad:</strong> {{ usuario.edad }}</p>
  	<a href="#/" class="btn btn-primary">Volver al inicio</a>
</div>