
<div class="alert alert-danger">
	<h3 class="subheader">¿Estás seguro que deseas eliminar al usuario {{usuario.nombre}}?</h2>
</div>
<div class="row">
	<table class="table">
		<tr>
			<td>
				<a href="#/" class="btn btn-primary">Volver sin eliminar</a>
				<a href="" class="btn btn-danger" data-ng-click="removerUsuario()">Eliminar</a>				
			</td>			
		</tr>		
	</table>	
</div>